@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
    --color-red: rgb(195, 0, 0);
    --color-black: hsl(222, 11%, 18%);
    --color-gray: hsl(220, 9%, 46%);
    --color-lightgray: hsl(220, 6%, 54%);
    --color-lightestgray: hsl(0, 0%, 90%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-2: hsl(0, 0%, 98%);   /*not used*/

    --gradient-sunset: #f5633c,
      #d63940,
      #9c2a4b,
      #5f1d53,
      #341358,
      #150e5c;
    --gradient-earth: #00C925, #0015FF;

    --font-family: "Almarai", sans-serif;
    --font-family-numbers: "Inter", sans-serif;

    --font-size-s: 0.875rem;    /* 14px */
    --font-size-m: 1rem;        /* 16px */
    --font-size-l: 1.125rem;       /* 18px */

    --space-4: 0.25rem;
    --space-10: 0.625rem;
    --space-12: 0.75rem;
    --space-14: 0.875rem;
    --space-16: 1rem;
    --space-20: 1.25rem;
    --space-30: 1.875rem;
    --space-40: 2.5rem;
    
}

html,
body,
h1,
h2,
p {
    margin: 0;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--color-gray);
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-left: var(--space-12);
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: var(--color-black);
}

h1, h2 {
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
}

/* heading for work */
h1 {
    font-size: var(--font-size-l);
    margin-bottom: var(--space-12);
}

h2 {
    font-size: var(--font-size-m);
}

p, ul, ol {
    font-size: var(--font-size-m);
    line-height: 1.5;
}

.paragraph p {
    line-height: 2;
}

.red {
    color: var(--color-red);
    font-size: 14px;
}